# Virtual environment
venv/

# Python
*.pyc
*.pyo
*.egg-info/
__pycache__/

# Flask temporary files
instance/

# Flask-Session directory
flask_session/

# SQLite database file
*.sqlite

# Development tools
*.pot
*.log

# OS files
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
venv/
